In [13]:
import pandas as pd
name=["manish","kumar","rajesh","rakesh","aman"]
roll=[12,13,14,15,16]
percentage=[45,56,65,97,26]
joined=zip(name,roll,percentage)
print joined

[('manish', 12, 45), ('kumar', 13, 56), ('rajesh', 14, 65), ('rakesh', 15, 97), ('aman', 16, 26)]

In [14]:
pd.DataFrame(joined)

        0   1   2
0  manish  12  45
1   kumar  13  56
2  rajesh  14  65
3  rakesh  15  97
4    aman  16  26

In [15]:
pd.DataFrame(joined,columns=['name','roll','percentage'])

     name  roll  percentage
0  manish    12          45
1   kumar    13          56
2  rajesh    14          65
3  rakesh    15          97
4    aman    16          26

In [16]:
pd.DataFrame(joined,index=range(5,10))

        0   1   2
5  manish  12  45
6   kumar  13  56
7  rajesh  14  65
8  rakesh  15  97
9    aman  16  26

In [50]:
a=pd.DataFrame(joined,index=range(5,10),columns=['name','roll','percentage'])
print (a)

     name  roll  percentage
5  manish    12          45
6   kumar    13          56
7  rajesh    14          65
8  rakesh    15          97
9    aman    16          26

# Functions on DataFrames
##  loc - accessing dataframe rows by element
## iloc - accessing  dataframe rows by index location  (iloc)

In [77]:
print (a.loc[8])  # search the row by element name in index

name          rakesh
roll              15
percentage        97
Name: 8, dtype: object

In [81]:
print (a.iloc[1])   # iloc - index location

5    12
6    13
7    14
8    15
9    16
Name: roll, dtype: int64

In [66]:
print (a.iloc[2:4,0:5])     #a.iloc[row,column]

     name  roll  percentage
7  rajesh    14          65
8  rakesh    15          97

# ## accessing DataFrames columns

In [38]:
print (a["name"])   #print the whole column of name

44    manish
45     kumar
46    rajesh
47    rakesh
48      aman
Name: name, dtype: object

In [31]:
print a.name     # object oriented approach

44    manish
45     kumar
46    rajesh
47    rakesh
48      aman
Name: name, dtype: object